{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "allowDeclareFields": true
      }
    ],
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
