{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"]
  }
}
